<div class="navbar">
    <div class="logo">
        <a asp-controller="Home" asp-action="Index">Thư Quán SV</a>
    </div>
    <ul class="nav-links">
        <li><a asp-controller="Home" asp-action="Index">Trang Chủ</a></li>
        <li><a asp-controller="Home" asp-action="Devices">Thiết Bị</a></li>
        <li><a asp-controller="Account" asp-action="Login">Đăng Nhập</a></li>
        <li><a asp-controller="Account" asp-action="Register">Đăng Ký</a></li>
    </ul>
</div>